@tailwind base;
@tailwind components;
@tailwind utilities;

.text-link {
  display: 'block';
  margin-top: '1rem';
  color: black;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.text-link:hover {
  color: #71b2c9;
}
